#weekViewSection {
    display: flex;
    flex-direction: column;
    color: white;
}

#weekSelectorRow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.weekSelectorButton {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.4em;
    transition-duration: 200ms;
}

.weekSelectorButton:hover {
    color: rgb(100, 180, 255);
}

.weekRow {
    display: flex;
    border-bottom: 1px solid rgb(80, 80, 80);
    height: 200px;
}

.weekRow:last-child {
    border-bottom: none;
}

.weekDayHeader {
    background-color: rgb(0, 0, 30);
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-variant: small-caps;
    font-weight: bold;
    width: 20px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid rgb(80, 80, 80);
}