#timeSelectorRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#timeSelectorButtonsContainer {
    --border-width: 2px;
    --selector-color: white;

    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-width) solid var(--selector-color);
    border-radius: 5px;
    background: rgb(40, 40, 40, 1);
}

#timeSelectorButtonsContainer > * {
    flex-basis: 33%;
}

.timeSelectorButton {
    background-color: transparent;
    border-width: 0;
    padding-top: 3px;
    color: var(--selector-color);
    transition-duration: 200ms;
}

.timeSelectorButton:nth-child(2) {
    border-left: var(--border-width) solid var(--selector-color);
    border-right: var(--border-width) solid var(--selector-color);
}

.timeSelectorButton:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.selectedTimeScale {
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-weight: bold;
}