#noteTypeTooltipName {
    text-align: center;
    margin-bottom: 4px;
    font-size: 1.4em;
}

#noteTypeTooltipSelectionRow {
    display: flex;
}

.notesTypeTooltipIconDiv {
    padding: 4px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
    max-height: 32px;
}

.notesTypeTooltipIconDiv:hover {
    transform: scale(1.05);
}

.notesTypeTooltipIcon {
    width: 24px;
    height: 24px;
}

.notesTypeTooltipMiscDiv {
    background-color: rgb(111, 185, 255);
}

.notesTypeTooltipReminderDiv {
    background-color: rgb(111, 255, 164);
}

.notesTypeTooltipBirthdayDiv {
    background-color: rgb(255, 83, 120);
}

.selectedNoteType {
    border-color: white !important;
}