.weekItemParent {
    display: flex;
    width: 100%;
    height: 200px;
}

.weekItem {
    text-align: left;
    cursor: pointer;
    padding: 8px;
    height: calc(200px - 2*8px);
    padding-left: 16px;
}

.weekItem:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.curDate {
    background-color: rgb(20, 20, 60);
}

.curDate:hover {
    background-color: rgb(40, 40, 90);
}

.weekItemDay {
    font-weight: bold;
    font-size: 1.3em;
}

.weekItemNoteItem {
    display: flex;
    margin-top: 8px;
}

.weekItemNotesTypeIcon {
    margin-right: 8px;
}

.weekItemAdditionalNotesMessage {
    margin-top: 8px;
    font-size: 0.9em;
    font-style: italic;
}