#dateItemTooltipParent {
    --tooltip-color: rgb(30, 30, 80);

    position: relative;
    display: inline-block;
    width: 100%;
}

#dateItemTooltipChildrenContainer {
    border-radius: 50%;
}

#dateItemTooltip {
    position: absolute;
    background-color: var(--tooltip-color);
    color: white;
    padding: 8px;
    z-index: 1000;
    border-radius: 16px;
    width: 200px;
}

.dateItemTooltipTop {
    bottom: calc(100% + 8px);
}

.dateItemTooltipBottom {
    top: calc(100% + 12px);
}

.dateItemTooltipArrowTop {
    bottom: calc(100% + 4px);
}

.dateItemTooltipArrowBottom {
    top: 100%;
}

#dateItemTooltipArrow {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--tooltip-color);
    transform-origin: 0 0;
    transform: rotate(45deg);
    left: 50%;
    z-index: 1000;
}

#dateItemTooltipHeader {
    font-weight: bold;
    font-variant: small-caps;
}

#dateItemTooltipAdditionalNotesMessage {
    font-size: 0.9em;
    font-style: italic;
    text-align: left;
    margin-top: 4px;
}