#timeDisplay {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 11em;
    font-family: "Zyzol";
    margin-top: 24px;
}

#dateDisplay {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.4em;
}