#timeDisplay {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 11em;
}

#dateDisplay {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.4em;
}