#factContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

#fact {
    font-size: 1.2em;
    flex: 1;
}

#factRow {
    display: flex;
    justify-content: center;
}

#factFavorite, #factRefresh {
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    transition-duration: 200ms;
}

#factFavorite:hover, #factRefresh:hover {
    transform: scale(1.1);
}

#factFavorite {
    margin-right: 8px;
}

.factUnfavorited {
    border: 1px solid gold;
}

.factFavorited {
    background-color: gold;
}

#factRefresh {
    background-color: rgb(126, 223, 255);
    margin-left: 8px;
}