#monthViewSection {
    display: flex;
    flex-direction: column;
}

#monthSelectorRow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

#currentMonthText {
    min-width: 200px;
    text-align: center;
    font-size: 1.2em;
    padding-top:8px;
    font-weight: bold;
}

.monthSelectorButton {
    background-color: transparent;
    border: none;
}

.monthRow {
    display: flex;
}

.monthRow > * {
    flex: 1;
    text-align: center;
}

.monthRowHeader {
    font-weight: bold;
    font-variant: small-caps;
}