.noteItem {
    display: flex;
    margin-top: 8px;
}

.notesTypeIconDiv {
    padding: 4px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    max-height: 32px;
}

.notesTypeIconDiv:hover {
    transform: scale(1.05);
}

.notesTypeIcon {
    width: 32px;
    height: 32px;
}

.notesTypeMiscDiv {
    background-color: rgb(111, 185, 255);
}

.notesTypeMisc {
    content: url("../NoteIcons/notes_misc_icon.png");
}

.notesTypeReminderDiv {
    background-color: rgb(111, 255, 164);
}

.notesTypeReminder {
    content: url("../NoteIcons/notes_reminder_icon.png");
}

.notesTypeBirthdayDiv {
    background-color: rgb(255, 83, 120);
}

.notesTypeBirthday {
    content: url("../NoteIcons/notes_birthday_icon.png");
}

#addNoteTextArea {
    flex: 1;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding-bottom: 2px;
    font-size: 1.2em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#addNoteTextArea:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.02);
}

.noteText {
    flex: 1;
}

.deleteNoteButton {
    max-height: 32px;
    width: 32px;
    background-color: red;
    color: white;
    border-radius: 50%;
    border-style: solid;
    border: 1px solid white;
}

.deleteNoteButton:hover {
    background-color: rgb(200, 0, 0);
}